.randomizer{
   display: flex;
   flex-flow: row wrap;
   justify-content: center;
}

.container {
   padding: 20px;
   width: 100%;
   display: flex;
   flex-flow: row wrap;
   justify-content: center;
   gap: 20px;
}