.results {
   flex-shrink: 0;
   flex-grow: 0;
   min-width: 350px;
}

.results p {
   width: 350px;
}

.gifter {
   font-size: 1.2rem;
   font-weight: 500;
}

@media screen and (max-width: 710px) {
   .explanationside {
      display: none;
   }
}