.divider {
   height: 100px;
   width: 100%;
   background-image: url(/src/assets/images/banderolle2.png);
}

.randombg {
   background-position: random 0px 130px center;
}

@media screen and (max-width: 710px) {
   .divider {
      height: 75px;
      background-size: cover;
   }
}